body {
  bottom: 100px;
}

.location {
  width:550px;
  height:340px;
  margin: auto;
  display:block;
  background-color:rgba(0,0,0,0.5);
  bottom: 100px;
  border-radius: 10px;
  padding: 1px;
}

.location-form {
  width:480px;
  height:200px;
  margin: auto;
  display:block;
  border-radius: 10px;
}

h3 {
  text-align:center; 
  color: #fff;
  text-shadow: 1px 1px 0px #222;
  margin:20px 0px 0px 0px;
  margin-bottom: 20px;
  font-size:20px;
  font-weight:500;
  font-style:italic
}

.location-form div.to-right {
  width: 220px;
  position:relative;
  left: 250px;
  border: 0px none;
  height: 3px;
  background-image: linear-gradient(to left,transparent, #F9E206);
  top: -6px;
}

.location-form div.to-left {
  width: 250px;
  position:relative;
  left: 10px;
  border: 0px none;
  height: 3px;
  background-image: linear-gradient(to right,transparent, #F9E206);
  top: -9px;
}

input {
  display: inline-block;
  border: 0px none;
  width: 40%;
  border-radius: 4px;
  height: 25px;
  margin-top: 10px;
  padding: 5px 3%;
  font-size:15px;
  font-family: inherit;
  color:#222;
}

.form-field {
  width:100%;
  background-color:rgba(74,129,51,0.4);
  border:2px solid #6FC149;
  color:#fff;
  border-radius:5px;
  height:50px;
  text-transform:uppercase;
  font-size:19px;
  cursor:pointer;
  transition:all 0.3s;
  margin-top: 10px;
}

.path-moving,
.path-back {
    fill: none;
    stroke: #64A546;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.path-moving {
    -webkit-transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
    transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
    stroke: #ffffff;
    stroke-dasharray: 110;
    stroke-dashoffset: -32;
}

.form-field {
  cursor: pointer; /* Mouse pointer on hover */
  width: 80%;
}

.form-field:hover {
  background-color: rgba(8, 144, 22, 0.565);
}

.postlistComponent {
  width: 1150px;
  margin: auto;
  margin-left: -300px;
  margin-bottom: 100px;
  display:block;
  border-radius: 10px;
}

.message {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: auto;
  position: center;
  text-align: center;
  padding-top: 3px;
  font-style:bold
}

label {
  width: 100%;
  display: inline-block;
  padding:0px 0px 2px 2px;
  margin-top: 20px;
  font-size:18px;
}

.radius-field{
  width: 4%;
}

.myLocation-form{
  cursor: pointer;
  background: none;
	border: none;
  position: absolute
}

.location-image{
  padding-left: 30px;
  padding-top: 8px;
  position: relative;
}

.search-components{
  margin: auto;
  padding-top:20px;
  position: relative;
}

.area-search{
  margin: auto;
  margin-bottom:15px;
  position: relative;
}

.area-size-text{
  text-align: left;
  margin-top: 35px;
  margin-left: 120px;
  position: absolute;
  font-size: 20px;
}

.radius-field{
  margin-left: 226px;
  margin-top: 30px
}

.postcode-search{
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.postcode-field{
  margin-left: 226px;
  width: 30%;
  margin-top: 22px
}

.postcode-text{
  margin: auto;
  text-align: left;
  margin-top: 28px;
  margin-left: 120px;
  position: absolute;
  font-size: 20px;
}

.km{
  position: "absolute";
  margin-left: 283px;
  margin-top: -42px;
  font-size: 16px;
}
