.location {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  top: 69px;
  right: 234px;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 150px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}

.submit {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  margin-left: 131px;
  font-size: 17px;
  padding: 0px 16px;
  height: 40px;
  width: 130px;
}
.submit:hover {
  background-color: #166fe5;
}
#submit {
  font: 400 13.3333px Arial;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: white;
}