.post {
  background-color: #ffffff;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
