.post {
  background-color:rgba(0,0,0,0.5);
  border: none;
  display: inline-block;
  border-radius: 8px;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  padding: 5px;
  font-size: 20px;
  text-align:center; 
}
