body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color:#fff;
  line-height:1.2;
  margin:0;
  background: url(https://i.imgur.com/0UJ0q2i.png);
  background-repeat: no-repeat;
  background-size: 1950px;
  background-attachment: fixed;
  font-size: 18px;
  height: 100%;
  overflow: auto;
}

html {
  overflow: hidden;
  height: 100%;
}

.seedlelogo {
  min-height: 20vh;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
}